.cv-info {
    box-shadow: 0 0 2rem var(--dark-shadow);
    position: relative;
}

.cv-info form ul {
    list-style: none;
}

.cv-info form h2 {
    font-size: 1.5rem;
    font-weight: 900;
}

.cv-info form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.cv-info form section {
    background-color: var(--bg-color);
    border: 3px solid color-mix(in oklab, var(--bg-color), var(--color) 40%);
    padding: 1.5rem;
    border-radius: 1rem;
    transition:
        box-shadow .25s,
        background-color .1s;
}

.cv-info form section:hover {
    border: 3px solid color-mix(in oklab, var(--bg-color), var(--color) 50%);
    background-color: color-mix(in oklab, var(--bg-color), var(--color) 2%);
}

.cv-info form section:focus-within {
    border: 3px solid color-mix(in oklab, var(--bg-color), var(--color) 50%);
    background-color: color-mix(in oklab, var(--bg-color), var(--color) 2%);
    box-shadow: 0 0 1rem var(--dark-shadow);
}

.cv-info form section,
.cv-info form section ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.cv-info form section ul>li {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.cv-info form input[type='text'],
.cv-info form input[type='email'],
.cv-info form input[type='tel'],
.cv-info form input[type='month'] {
    padding: .4em .6em;
    border: 2px solid color-mix(in oklab, var(--bg-color), black 10%);
    border-radius: .3em;
    transition:
        border .2s .025s,
        outline .2s;
}

.cv-info form input[type='text']:hover,
.cv-info form input[type='email']:hover,
.cv-info form input[type='tel']:hover,
.cv-info form input[type='month']:hover {
    border: 2px solid color-mix(in oklab, var(--bg-color), var(--color) 50%);
}

.cv-info form input[type='text']:focus,
.cv-info form input[type='email']:focus,
.cv-info form input[type='tel']:focus,
.cv-info form input[type='month']:focus {
    outline: none;
    border: 2px solid color-mix(in oklab, var(--bg-color), var(--color) 80%);
}

.cv-info .btn-wrapper {
    display: flex;
    justify-content: end;
    gap: 1rem;
    background-color: inherit;
}

.cv-info>.btn-wrapper {
    position: sticky;
    bottom: 0;
    padding: 1rem 3rem;
    border: none;
    border-radius: 0;
    background-color: var(--bg-color);
}

.cv-info .info-item button:hover,
.cv-info .btn-wrapper button {
    background-color: var(--bg-color);
    transition:
        background-color .2s .025s,
        transform .2s;
    cursor: pointer;
}

.cv-info .btn-wrapper button {
    padding: .8em 1.2em;
    border-radius: 1em;
    border: 3px solid color-mix(in oklab, var(--bg-color), var(--color) 80%);
    box-shadow: 0 0 1rem var(--dark-shadow);
}

.cv-info .info-item button:hover,
.cv-info .btn-wrapper button:hover {
    background-color: color-mix(in oklab, var(--bg-color), var(--color) 10%)
}

.cv-info .info-item button:active,
.cv-info .btn-wrapper button:active {
    transform: scale(102%);
    background-color: color-mix(in oklab, var(--bg-color), black 15%);
    box-shadow: 0 0 1rem var(--dark-shadow) inset;
}

.cv-info .info-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cv-info .info-items-wrapper {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    padding: 1rem 0;
}

.cv-info .info-items .info-item {
    flex: 0 0 10rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 3px solid color-mix(in oklab, var(--bg-color), var(--color) 80%);
    border-radius: .5rem;
    padding: .5rem
}

.cv-info .info-item footer {
    margin-top: auto;
}

.cv-info .info-item .item-btns {
    display: flex;
    justify-content: end;
    gap: .4rem;
}

.cv-info .info-item button {
    padding: .4rem;
    background-color: inherit;
    border: none;
    border-radius: .2rem;
    display: grid;
    place-content: center;
}

.cv-info .info-item button svg {
    height: 1rem;
    fill: var(--color);
    transition: fill .1s;
}

.cv-info .info-item button.item-btn-rem:hover svg {
    fill: var(--danger)
}

.cv-info label>span[aria-label="required"] {
    color: var(--danger)
}

.cv-info form input[type='text'].input-invalid,
.cv-info form input[type='email'].input-invalid,
.cv-info form input[type='tel'].input-invalid,
.cv-info form input[type='month'].input-invalid {
    --border: color-mix(in oklab, var(--danger), var(--color) 10%);
    border: 2px solid var(--border)
}

.cv-info form li>input+span {
    font-size: .9em;
}