.cv-info {
    padding: 1rem;
    box-shadow: 0 0 2rem var(--dark-shadow);
}

.cv-info form ul {
    list-style: none;
}

.cv-info form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cv-info form section,
.cv-info form section ul {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.cv-info form section ul > li{
    display: flex;
    flex-direction: column;
    gap: .3rem;
}