.cv-view ul {
    list-style: none;
}

.cv-viewer {
    padding: 2rem;
    /* display: grid; */
    /* place-content: center; */
}

.cv-view {
    aspect-ratio: 1 / 1.4;
    /* min-height: 100%; */
    width: 595; height: 842;

    padding: 2rem;
    border: 3px solid var(--light);
    box-shadow: 0 0 2rem .2rem var(--dark-shadow);

    display: flex;
    flex-direction: column;
    gap: 2rem;
    fill: white;
    /* stroke: white; */

    /* transition:
        transform 1s,
        box-shadow .2s; */
}

.cv-view .cv-general {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.cv-view .cv-general h1 {
    text-align: center;
}

.cv-view .cv-general svg {
    height: 1rem;
}

.cv-view .cv-general ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cv-view .cv-general ul li {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: .5rem;
    word-break: break-all;
}

.cv-view .cv-educational,
.cv-view .cv-practical {
    display: grid;
    grid-template-columns: 4rem 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
        "info-icon info-header"
        "info-icon info-items";
    gap: 1rem 2rem;
}

.cv-view .cv-educational .icon,
.cv-view .cv-practical .icon {
    grid-area: info-icon;
}

.cv-view .cv-educational h2,
.cv-view .cv-practical h2 {
    grid-area: info-header
}

.cv-view .cv-educational ul,
.cv-view .cv-practical ul {
    grid-area: info-items;
    display: flex;
    flex-direction: column;
}

.cv-view .cv-educational ul li,
.cv-view .cv-practical ul li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    border-top: 1px solid white;
}

.cv-view.cv-updated {
    /* transform: scale(101%); */
    animation: .5s ease-in-out 2 alternate cv-updated;
}

@keyframes cv-updated {
    to {
        box-shadow: 0 0 1.6rem .8rem color-mix(in oklab, var(--dark), white 25%);
    }
}