.cv-view ul {
    list-style: none;
}

.cv-viewer {
    padding: 2rem;
}

.cv-view {
    height: 100%;
    padding: 2rem;
    border: 3px solid var(--light);
    box-shadow: 0 0 2rem .2rem var(--dark-shadow);

    display: flex;
    flex-direction: column;
    gap: 2rem;

    /* transition:
        transform 1s,
        box-shadow .2s; */
}

.cv-view section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cv-view section ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cv-view.cv-updated {
    /* transform: scale(101%); */
    animation: .25s ease-in-out 2 alternate cv-updated;
}

@keyframes cv-updated {
    to {
        box-shadow: 0 0 1.6rem .8rem color-mix(in oklab, var(--dark), white 25%);
    }
}