:root {
    color-scheme: light dark;
    color: var(--light);
    background-color: var(--dark);

    --dark: #262626;
    --light: #f5f5f5;
    --dark-shadow: hsla(0, 0%, 0%, 0.85);

}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    display: flex;


}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}