:root {
    color-scheme: light dark;
    color: var(--light);
    background-color: var(--dark);

    --light: #f5f5f5;
    --dark: #262626;
    /* --dark: #121212; */
    
    --dark-shadow: hsla(0, 0%, 0%, 0.8);
    --dark-primary: #fff;
    --dark-secondary: #fff;
    --dark-primary-variant: #fff;
    --dark-bg: #fff;
    --dark-surface: #fff;
    --dark-error: #fff;


}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}