:root {
    color-scheme: light dark;

    --light: #fff;
    --dark: #262626;
    --color: var(--light);
    --bg-color: var(--dark);

    --dark-shadow: hsla(0, 0%, 0%, 0.8);
    --danger: #ef4444;

    color: var(--color);
    background-color: var(--bg-color);
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    min-height: 100vh;
    height: 100vh;
}

@media (prefers-color-scheme: light) {
    :root {
        --color: var(--dark);
        --bg-color: var(--light);
        --dark-shadow: hsla(0, 0%, 0%, 0.3);
    }
}